<footer class="mb-[36px] mt-[36px] md:mt-[100px]">
  <div class="max-w-sm mx-auto text-sm text-zinc-300 fade-in mb-1">
    <div class="flex flex-row justify-between gap-1">
      <a href="mailto:support@riffermadness.app" class="hover:text-zinc-100 transition">Contact</a>
      <span>|</span>
      <a href="privacy.html" class="hover:text-zinc-100 transition">Privacy</a>
      <span>|</span>
      <a href="terms.html" class="hover:text-zinc-100 transition">Terms</a>
      <span>|</span>
      <span>&copy; 2026 Joseph Granados</span>
    </div>
  </div>
</footer>
